<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Down For Everyone Or Just Me Icon</string>
	<key>CFBundleName</key>
	<string>Down For Everyone Or Just Me</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>CFBundleIdentifier</key>
	<string>com.macosxscreencasts.action.DownForEveryoneOrJustMe</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBScriptName</key>
			<string>default.applescript</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBRunInBackground</key>
			<false/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBSummary</key>
		<string>Checks website availability using an external service, i.e. downforeveryoneorjustme.com.</string>
		<key>LBAuthor</key>
		<string>Andreas Zeitler</string>
		<key>LBEmail</key>
		<string>azeitler@zettt.de</string>
		<key>LBTwitter</key>
		<string>@zettt</string>
		<key>LBWebsite</key>
		<string>macosxscreencasts.com</string>
	</dict>
</dict>
</plist>
